// variable colors //
$fc-primary: #161721;
$fc-secondary: #4a4a4a;
$fc-tertiary: #5c5c5c;

// font-stack //
$system: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

// typography //
$display: 3.2rem;
$title:   2.4rem;
$header:  1.6rem;
$body:    1.6rem;
$list:    1.4rem;

/*
$display: 300 3.2rem/1.3;
$title: 400 2.4rem/1.2;
$header: 600 1.6rem/1.2;
$body: 400 1.6rem/1.8;
$list: 400 1.4rem/2;
*/


// mixins – media queries //
/*==========

bas  -  0-359
xs  -  360
sm  -  400
md  -  700
mdl -  1000
lg  -  1200
xl  -  1500

===========*/

@mixin breakpoint($class) {
  @if $class == xs {
    @media (min-width: 360px) { @content; }
  }

  @if $class == sm {
    @media (min-width: 400px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 700px) { @content; }
  }

  @else if $class == md_landscape {
    @media (min-width: 1000px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else if $class == xl {
    @media (min-width: 1500px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, md_landscape, lg, xl";
  }
}
