body { min-height: 300vh; }
// styles //
header {
  @include container;
  @include center-x;
  margin-top: 3.2rem;
  img { max-width: 8rem; }

  @include breakpoint(md) {
    display: block;
  }
}

section {
  //border: 1px solid green;
  @include row;
  @include container;
}

nav {
  //border: 1px solid orange;
  display: none;
  position: fixed;
  margin: 0;
  a:hover { border-bottom: 2px solid rgba($fc-primary,0.2); }

  @include breakpoint(md) {
    display: block;
    width: grid-width(2);
  }
}

article {
  //border: 1px solid blue;
  @include breakpoint(md) {
    margin-left: grid-width(3);
    width: grid-width(7);
  }
}

aside {
  @include breakpoint(md) {
    margin: 1rem 0 0 2rem;
    width: grid-width(4);
  }
}

.gs-img {
  img { max-width: 100%; height: auto; }
  width: grid-width(12);
  
  @include breakpoint(md) {
    padding: 0 1rem;
    width: grid-width(3);
    margin-left: grid-width(3);
  }
}

.card {
  cursor: pointer;
  background: #fff;
  border-radius: 0.4rem;
  text-align: center;
  transition: $transition;
  will-change: transform;
  @include breakpoint(md) {
    display: inline-block;
    height: 32rem;
    width: grid-width(3.76);
  }
}

.card:hover {
  box-shadow: 0 0.4rem 3rem 0 rgba($fc-tertiary,0.12);
  transform: translateY(-0.4rem);
  //transform: scale3d(1.04,1.04,0);
}

.card:nth-of-type(2n) {
  //background: pink;
  margin: 0 1.6rem;
}
