body { min-height: 300vh; }
// styles //
header {
  @include container;
  img { max-width: 8rem; }
}

section {
  //border: 1px solid green;
  @include container;
}

nav {
  //border: 1px solid orange;
  position: fixed;
  margin: 0;
  a:hover { border-bottom: 2px solid rgba($fc-primary,0.2); }

  @include breakpoint(md) {
    width: grid-width(2);
  }
}

main {
  //border: 1px solid blue;

  @include breakpoint(md) {
    margin-left: grid-width(3);
    width: grid-width(7);
  }
}


/*
section {
  border: 1px solid pink;
  margin: 0 auto;
  width: 88vw;
  max-width: 119rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
  }
}

aside {
  //border: 1px solid red;
  display: block;
  margin: 0 auto;
  width: grid-width(12);
  a:hover { border-bottom: 1px solid $fc-tertiary; }

  @include breakpoint(md) {
    //margin: 0 0 0 4rem;
    position: fixed;
    width: grid-width(2);
    top: 9.6rem;
  }
}

main {
  border: 1px solid blue;
  margin: 0 auto;
  width: grid-width(12);

  @include breakpoint(md) {
    margin-left: grid-width(3);
    width: grid-width(8);
  }
}

body {
  min-height: 200vh;
}

header {
  img { max-width: 8rem; display: block; }
}

article {
  @include row;
  border: 1px solid pink;
  width: grid-width(12);

  @include breakpoint(md) {
    width: grid-width(7);
  }
}

.gs-img {
  border: 1px solid blue;
  @include breakpoint(md) {
    width: grid-width(4);
    margin: 0 2rem 0 2rem;
  }
}
*/
