// styles //
section {
  //border: 1px solid pink;
  margin: 0 auto;
  width: 88vw;
  max-width: 160rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
  }
}

aside {
  //border: 1px solid red;
  margin: 0 auto;
  width: grid-width(12);

  @include breakpoint(md) {
    position: sticky;
    position: -webkit-sticky;
    width: grid-width(1);
    top: 20px;
  }
}

main {
  //border: 1px solid blue;
  margin: 0 auto;
  width: grid-width(12);

  @include breakpoint(md) {
    width: grid-width(7);
  }
}

body {
  min-height: 200vh;
}
