

// typography //



// headings //
h1 {
  font: 400 3.6rem/1.1 sans-serif;
  color: $gravity;
  letter-spacing: 0.1rem;
  margin: 0 0 2rem 0;

  @include breakpoint(lg) {
    font-size: 4.8rem;
  }
}
