// headings //
h1 {

  @include breakpoint(lg) {
    //font-size: 4.8rem;
  }
}

// typography //
.display {
  font-size: $display;
  font-weight: 300;
  line-height: 1.2;
  color: $fc-primary;
}

.title {
  font-size: $title;
  line-height: 1.2;
  color: $fc-primary;
}

.header {
  font-size: $header;
  font-weight: 600;
  line-height: 1.6;
  color: $fc-primary;
}

.list {
  font-size: $list;
  line-height: 1.8;
}

.body {
  font-size: $body;
  line-height: 1.8;
}
