// headings //
h1 {

  @include breakpoint(lg) {
    //font-size: 4.8rem;
  }
}

// typography //
.display {
  font: $display $system;
  color: $fc-primary;
}

.title {
  font: $title $system;
  color: $fc-primary;
}

.header {
  font: $header $system;
  color: $fc-primary;
}

.body {
  font: $body $system;
  color: $fc-secondary;
}

.list {
  font: $list $system;
  color: $fc-secondary;
}
